<div class="container-fluid h-100 custom-margin-top custom-background">
    <div class="row  justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="p-3 mb-2 bg-white shadow">
                <form #myform="ngForm" (ngSubmit)="onSubmit(myform)" class="mt-4">
                    <div class="mb-3">
                        <input type="text" name="fullname" id="fullname" class="form-control" placeholder="Entrez votre nom complet" ngModel required>
                        <div *ngIf="myform.submitted && myform.controls['fullname'].invalid" class="text-danger">Nom complet est requis</div>
                    </div>
                    <div class="mb-3">
                        <input type="email" name="email" id="email" class="form-control" placeholder="Entrez votre email" ngModel required>
                        <div *ngIf="myform.submitted && myform.controls['email'].invalid" class="text-danger">Email est requis</div>
                    </div>
                    <div class="mb-3">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Entrez votre mot de passe" ngModel required>
                        <div *ngIf="myform.submitted && myform.controls['password'].invalid" class="text-danger">Le mot de passe est requis</div>
                    </div>
                    <div class="mb-3">
                        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirmez votre mot de passe" ngModel required>
                        <div *ngIf="myform.controls['password'] && myform.controls['confirmPassword'] && myform.controls['confirmPassword'].touched">
                            <div *ngIf="myform.controls['password'].value !== myform.controls['confirmPassword'].value" class="text-danger">Les mots de passe ne correspondent pas</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                    <div *ngIf="editedIndex !== null" class="mb-3">
                        <button type="button" class="btn btn-primary" (click)="onSaveChanges()">Enregistrer les modifications</button>
                    </div>
                </form>
            </div>
            <app-user-details [users]="userDetailsArray" (deleteEvent)="onDeleteUser($event)" (editEvent)="onEditUser($event)"></app-user-details>
        </div>

        
    </div>
</div>
